.navbar{
 align-items: center;
    width: 100%;
    height: 10vh;

}

/*header{
    background-image: url("./idée-amenagement-chambre-enfant-garçon-bleu-et-rouge-armoire-rouge-revêtement-sol-gris-bibliothèque-et-lit-deux-étages-en-bois-bureau-et-chaise-scandinave-deco-murale-fleurs.jpg");
    width: 100%;
    height: 150vh;
    padding-top: 20vh;
    padding-left: 30%;
    background-size: cover;
}*/

img{
    width:100%;
    height:60vh;
}
section{
    margin-top: 5vh;
    margin-left:2%;
    position: relative;

}
.card{
    float: left;
    margin-left: 3%;
}
h1{
    font-size: 50px;
    text-align: center;
    color:#c0392b;

}
.elem1{
    position: relative;
    font-size: 250px;
    color: red;
}
footer{
    width: 100%;
    height: 30vh;
    clear: both;


}
footer h1{
    color:white;
    font-size: 40px;
}
.auteur{
    font-size: 40px;
    color: white;
    text-align: center;
}