h1{
    text-decoration: red;
    text-align: left;
    
}
.col-3{
    text-align: left;

}
section{
    margin-top: 5vh;
    margin-left: 2%;
    position: relative;
}
.card{
    float: left;
    margin-left: 3%;
}
.option{
    background-color: red;
}
.row{
    margin-left: 10px;
}